In [1]:
def my_function(x, y, z = 1.5):
    if z > 1: 
        return z*(x+y)
    else:
        return z/(x+y)

In [2]:
my_function(5,6,z=0.7)

0.06363636363636363

In [3]:
my_function(3.14,7,3.5)

35.49

In [4]:
my_function(10,20)

45.0

In [5]:
def func():
    a=[]
    for i in range(5):
        a.append(i)
    return a

In [6]:
x=func()
x

[0, 1, 2, 3, 4]

In [7]:
a= None

In [8]:
def bind_a_variable():
    global a
    a=[]
    bind_a_variable()

In [9]:
print(a)

None

In [10]:
def f():
    a=5
    b=3
    c=1
    return a,b,c

In [11]:
return_value=f()

In [12]:
def f():
    a=5
    b=3
    c=1
    return {'a':a,'b':b,'c':c}

In [13]:
return_value=f()

In [14]:
return_value

{'a': 5, 'b': 3, 'c': 1}

In [15]:
import re

In [16]:
re.sub?

In [17]:
def clean_strings(strings):
    result=[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','',value)
        value = value.title()
        result.append(value)
    return result

In [18]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','south carolina', 'West virginia?']

In [27]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [20]:
def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops=[str.strip, remove_punctuation, str.title]

In [21]:
equiv_anon = lambda x : x*2

In [22]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]
ints=[1,2,1,4,5]

In [23]:
apply_to_list(ints, lambda x: x*2)

[2, 4, 2, 8, 10]

In [24]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [27]:
strings.sort(key= lambda x : len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [29]:
def add_numbers(x,y):
    return x+y

In [30]:
add_five = lambda y : add_numbers(5,y)

In [31]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [34]:
# parrot(1000)                                          # 1 positional argument
# parrot(voltage=1000)                                  # 1 keyword argument
# parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
# parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
# parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [35]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [36]:
dict_iterator = iter(some_dict)

In [37]:
iter?

In [38]:
dict_iterator

In [39]:
list(dict_iterator)

['a', 'b', 'c']

In [41]:
def squares(n=10):
    print('generating squares from 1 to {0}'.format(n**2))
    for i in range(1,n+1):
        yield i**2

In [46]:
gen = squares()
gen

In [47]:
for x in gen:
    print(x, end=' ')

generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [48]:
gen = (x**2 for x in range(100))

In [49]:
gen

In [50]:
sum(x **2 for x in range(100))

328350

In [51]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [52]:
import itertools

In [53]:
first_letter = lambda x : x[0]

In [55]:
names= ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [56]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [57]:
float('1.2345')

1.2345

In [58]:
float('something')

ValueError: could not convert string to float: 'something'

In [59]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [60]:
attempt_float('1.2345')

1.2345

In [61]:
attempt_float('something')

'something'

In [64]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [63]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [70]:
attempt_float((1, 2))

(1, 2)

In [69]:
attempt_float('something')

'something'

In [68]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [71]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined